{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Update Product Entry</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.product.id_for_label }}">Product:</label>
            {{ form.product }}
        </div>
        <div class="form-group">
            <label for="{{ form.quantity.id_for_label }}">Quantity:</label>
            {{ form.quantity }}
        </div>
        <div class="form-group">
            <label for="{{ form.price.id_for_label }}">Price:</label>
            {{ form.price }}
        </div>
        <div class="form-group">
            <label for="{{ form.date.id_for_label }}">Date:</label>
            {{ form.date }}
        </div>
        <button type="submit" class="btn btn-primary">Update Product Entry</button>
    </form>
    
</div>
{% endblock %}
